<?xml version="1.0"?>
<ruleset name="Go Live Update Urls PRO.">
	<!-- See https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->

	<description>Ruleset for the Go Live Update Urls plugin.</description>
	<version>3.4.1</version>

	<!-- Include when not specified -->
	<file>./src</file>

	<!-- Show file path based on project root. -->
	<arg name="basepath" value="." />
	<!-- Cache between runs -->
	<arg name="cache" value="./.phpcs.cache" />
	<!-- Sniff both PHP and JS. -->
	<arg name="extensions" value="php/PHP,js/JS,jsx/JS,ts/JS,tsx/JS" />
	<!-- Show sniff codes in all reports, and progress when running. -->
	<arg value="sp" />

	<!-- Exclude paths -->
	<exclude-pattern>*/dev/*</exclude-pattern>
	<exclude-pattern>*/dist/*</exclude-pattern>
	<exclude-pattern>*/wp-unit/*</exclude-pattern>
	<exclude-pattern>*/js/tests/*</exclude-pattern>
	<exclude-pattern>*/local-config\.php</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/wp/*</exclude-pattern>


	<config name="minimum_supported_wp_version" value="5.4" />

	<!-- @see https://github.com/wimg/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="7.0-" />

	<!-- @see https://github.com/PHPCompatibility/PHPCompatibilityWP#how-to-use -->
	<rule ref="PHPCompatibilityWP" />

	<rule ref="WordPress">
		<exclude-pattern>*/js/*</exclude-pattern>

		<exclude name="Generic.Formatting.MultipleStatementAlignment" />
		<exclude name="Generic.Arrays.DisallowShortArraySyntax.Found" />

		<exclude name="PEAR.Functions.FunctionCallSignature" />
		<exclude name="PEAR.NamingConventions.ValidClassName" />

		<exclude name="Squiz.Commenting.FileComment.Missing" />

		<exclude name="WordPress.DB.DirectDatabaseQuery" />
		<exclude name="WordPress.DB.PreparedSQL.NotPrepared" />
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />
		<exclude name="WordPress.NamingConventions.ValidHookName.UseUnderscores" />
	</rule>

	<rule ref="Universal.Classes.DisallowFinalClass">
		<type>error</type>
	</rule>

	<!-- Test against JS XXS https://vip.wordpress.com/documentation/vip-go/vip-code-review/javascript-security-best-practices/ -->
	<rule ref="Lipe.JS">
		<type>error</type>
	</rule>

	<!-- These don't require extra un-slashing and sanitization -->
	<rule ref="WordPress.Security.ValidatedSanitizedInput">
		<properties>
			<property name="customUnslashingSanitizingFunctions" type="array">
				<element value="wp_verify_nonce" />
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="go-live-update-urls" />
		</properties>
	</rule>
</ruleset>
