includes:
    # Baseline file full of @todo
    - dev/phpstan-baseline.php

parameters:
    level: 5
    editorUrl: 'http://localhost:63342/api/file/%%relFile%%:%%line%%'
    paths:
        - go-live-update-urls.php
        - src
    dynamicConstantNames:
        - GO_LIVE_UPDATE_URLS_PRO_VERSION
        - GO_LIVE_UPDATE_URLS_REQUIRED_PRO_VERSION
    bootstrapFiles:
        - go-live-update-urls.php
    scanFiles:
        - dev/stubs/go-live-update-urls-pro.stub
    ignoreErrors:
        - # Serialized data has unknown keys which require variables.
            message: '#^Variable property access on#'
            path: src/Serialized.php
        - # Remove once the WP version use for wordpress-legacy >= 6.2.
            message: '#^Function apply_filters invoked with [3456789] parameters, 2 required\.$#'
            reportUnmatched: false
